<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Forgot Password</title>

  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-password-image">
                  <a href="chinsung_main"></a></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">About</h1>
                    <p class="mb-4">저희는 개짱짱 가천대 정예 컴공입니다</p>
                  </div>

                  <div class="container">

                    <!-- About Section Heading -->

                    <!-- Icon Divider -->
                    <div class="divider-custom divider-light">
                      <a href="/web/main/index">
                      <div class="divider-custom-icon">
                        <i class="fas fa-star"></i>
                      </div>
                    </a>
                    </div>

                    <!-- About Section Content -->
                    <div class="row">
                      <div class="col-lg-4 ml-auto">
                        <p class="lead">홍기현 ; 안녕하세요</p>
                      </div>
                      <div class="col-lg-4 mr-auto">
                        <p class="lead">신윤재 ; 반가워요</p>
                      </div>
                      <div class="col-lg-4 mr-auto">
                        <p class="lead">박성재 ; 잘있어요</p>
                      </div>
                    </div>

                    <!-- About Section Button -->
                    <div class="text-center mt-4">


                      <hr>
                      <hr>
                      <h2 style="
                      margin-top: 50px;
                  ">문의 메일</h2>
                      
                  <input onclick="copy_to_clipboard()" type="email" class="form-control form-control-user" id="myInput" value="chin_sung@naver.com" readonly>
                  
                      <!-- <button onclick="copy_to_clipboard()">복사</button> -->


                      <script>
                        function copy_to_clipboard() {
                          var copyText = document.getElementById("myInput");
                          copyText.select();
                          document.execCommand("Copy");
                        }
                      </script>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>