<ul class="navbar-nav ml-auto">

    <!-- Nav Item - Alerts -->
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
        <span class="badge badge-danger badge-counter">3+</span>
      </a>
      <!-- Dropdown - Alerts -->
      <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
        aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
          알림
        </h6>

        <%
        
        var arr = [{ iconIndex: 0, msg: "text1" },
        { iconIndex: 2, msg: "text2" },
        { iconIndex: 1, msg: "text3" }]

        var icon = [
        'fas fa-file-alt text-white',
        'fas fa-exclamation-triangle text-white',
        'fas fa-donate text-white'
        ]

        var iconColor = [
          'bg-primary',
          'bg-warning',
          'bg-success'
        ]


        for (var i = 0; i < arr.length; i++) {

        %>
          
        <a class="dropdown-item d-flex align-items-center" href="#">
          <div class="mr-3">
            <div class="icon-circle <%= iconColor[arr[i].iconIndex]%>">

                <i class="<%= icon[arr[i].iconIndex]%>"></i>
              
            </div>
          </div>
          <div>
            <div class="small text-gray-500">December 12, 2019</div>
            <%= arr[i].msg%>
          </div>
        </a>

        <%
        }
        
        %>

      </div>
    </li>


    <div class="topbar-divider d-none d-sm-block"></div>


  </ul>