#content > div > div > form > a{
  height: auto;
}

#content > div > div > form > div{
  max-width: 500px;
  position: relative;
  height: 60px;
}


#content > div > div > form > div:nth-child(4) > a{

  height: fit-content;
}


#content > div > div{
  text-align: -webkit-center;

}
